$gray1      :   #AAAAAA;
$gray2      :   #E2E2E2;
$black1     :   #252525;
$black2     :   #666666;
$black3     :   #232323;
$red1       :   #B1171D;
$red2       :   #C91C21;
$white1     :   #F0F0F0;
$white2     :   #F5F5F5;
$orange     :   #FF9B37;
$dark_red   :   #771A24;